<div class="ui huge dividing header">
  Your Profile
</div>
<div class="ui divided items">
  <div class="item">
    <div class="content">
      <div class="header">
        {{ username }}
      </div>
      <div class="meta">
        <span class="cinema">About Me</span>
      </div>
      <div class="description">
        <p>This is where you will be able to say where you like to shop and your favorite brands</p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="header">
        {{ email }}
      </div>
      <div class="meta">
        <span class="cinema">My Email</span>
      </div>
      <div class="description">
        <p>This will change, just need a placeholder :)</p>
      </div>
    </div>
  </div>
</div>
