<div class="ui huge dividing header">{{ currentUrl.username }}</div>

<div class="ui message" [ngClass]="messageClass">
  <p>{{ message }}</p>
</div>

<div *ngIf="foundProfile">
  <div class="ui divided items">
    <div class="item">
      <div class="content">
        <div class="ui grid">
          <div class="ui medium rounded image four wide column">
            <img src={{user.imagePath}} alt="User Picture Here">
          </div>
          <div class="twelve wide column">
            <div class="ui header">
              {{ user.username }}
            </div>
            <div class="meta">
              <div class="cinema">About Me</div>
            </div>
            <div class="description">
              <p>{{ user.aboutMe }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">
          Liked Items
        </div>
      </div>
    </div>
  </div>
</div>
